<% title "New Foto" %>
<% content_for :head do %>
	<%= GMap.header %>
	<!-- -->
	<%= @map.to_html %>
	<!-- -->

<% end %>
<%= render :partial => 'form' %>


<p><%= link_to "Back to List", fotos_path %></p>
